<div class='card' *ngIf='product'>
  <div class='card-header'>
    {{pageTitle + ': ' + product.productName}}
  </div>
  <div class='card-footer'>
    <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>
